.pheading {
    color: blue;
}

.info p{
    display: inline-block;
}

.contact {
    text-align: right;
    text-justify: auto;
    margin-top: -50px;
    width: 100%;
    font-weight: bold;
}

.ppheading {
    font-weight: bold;
    text-decoration: underline;
    font-size: 16px;
    margin: auto;
    
}

.tb {
    border:1px solid black;
}

.none{
    text-align: left;
}

.java-right{
    text-align: right;
}

/* .prohandle { */
    /* line-height: 8px;
    margin-bottom: 8px; */
    /* text-align: justify; */
    /* text-justify: inter-word;
    text-align: inherit;
} */

.middle {
    text-align: justify;
}

.right{
    text-align: right;
}

p.prohandle {
    text-align-last: center;
    text-justify:inter-word;
}